*{
    margin: 0;
    padding: 0;
}
.PUNCH{
    background: #000000;
    color:white;
    display: flex;
    justify-content: space-around;
}
.ONE{
    width: 20%;

}
.MAN{
    display: inline-block;
    margin: 0 20px;
    padding: 34px 0;
    font-size: 24px;
}
.img.ONE{
    width: 20;
}

.anime{
    background-color: aliceblue;
}