*{
    margin: 0;
    padding: 0;
}
.PUNCH{
    background: #000000;
    color:white;
    display: flex;
    justify-content: space-around;
}
.ONE{
    width: 20%;

}
.MAN{
    display: inline-block;
    margin: 0 20px;
    padding: 34px 0;
    font-size: 24px;
}
.img.ONE{
    width: 20;
}

.anime{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.genos{
    width: 45%;
}
.onepunchman{
    padding: 24px 0;
}
.silverfang{
    width: 100%;
}
.metal{
    width: 10%;
}
.sonic{
    display: grid;
    grid-template-columns: 20% 20% 20%;
}